body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
    background-color: #333;
    color: white;
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2%;
    position: sticky;
    #logout {
        text-align: center;
        padding: 0px;
        top: 1%;
        right: 100px;
        position: fixed;
        width: 30px;
        height: auto;
        .btn-teriträr{
            background-color: #333;
            color: white;
            padding: 12px 28px;
        }
        .btn-teriträr:hover{
            background-color: #4b4b4b;
            color: white;
        }
    }
}

main{
    top: 10%;
    min-height: 100%;
    position: relative;
    text-align: center;
}

footer {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: visible;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: white;
    z-index: 1000;
    margin: 0;
    padding: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    a{
        color: white;
    }
    a:visited{
        color: white;
    }
}

.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    .btn-quarter{
        background-color: #4b4b4b;
        color: white;
    }
    .btn-quarter:hover{
        border: 3px solid black;
    }
}


.container{
    background-image: url("../images/background/skiweltbahn.JPG");
    background-repeat: no-repeat;
    background-size: 100%, auto;
    #loginbody{
        min-height: 100vh;
        margin: 0;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        display: flex;
        position: sticky;
        .form-group{
            h1{
                text-align: left;
                margin-left: 38%;
                color: rgb(0, 0, 0);
                font-size: 75px;
            }
            input[name="email"]{
                width: 25%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
                border: 2px solid black;
                background-image: url('../images/icons/email.png');
                background-position: 5px, 5px;
                background-size: 25px, auto;
                background-repeat: no-repeat;
                padding-left: 40px
            }
            input[name="password"]{
                width: 25%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
                border: 2px solid black;
                background-image: url('../images/icons/lock.png');
                background-position: 5px, 5px;
                background-size: 25px, auto;
                background-repeat: no-repeat;
                padding-left: 40px
            }
            input[name="email"]:focus{
                border: 5px solid rgb(178, 201, 212);
            }
            input[name="password"]:focus{
                border: 5px solid rgb(178, 201, 212);
            }
            .form-group-button{
                display: flex;
                justify-content: space-around;
                text-align: center;
                margin-left: 30%;
                margin-right: 30%;
                .btn-primary{
                    background-color: white;
                    color: #333;
                    padding: 12px 28px;
                }
                .btn-primary:hover, .btn-primary:focus{
                    background-color: #333;
                    color: white;
                }
            }
            .error{
                text-align: center;
                color: red;
                font-size: 1.2em;
                text-size-adjust: 10px;
                font-weight: 300;
                position: sticky;
            }
        }
    }
    #regbody {
        min-height: 100vh;
        margin: 0;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        display: flex;
        position: sticky;
        background-color: #333;
        h1{
            color: white;
            font-size: 75px;
        }
        input[type="text"], input[type="email"], input[type="password"], input[type="confirm_password"]{
            width: 25%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 5px solid rgb(178, 201, 212);
        }
        .form-group-button{
            display: flex;
            justify-content: space-around;
            text-align: center;
            margin-left: 40%;
            margin-right: 40%;
            .btn-primary{
                background-color: white;
                color: #333;
                padding: 12px 28px;
            }
            .btn-primary:hover, .btn-primary:focus{
                background-color: #333;
                color: white;
            }
        }
        .error{
            text-align: center;
            background-color: #333;
            color: red;
            font-size: 15px;
            text-size-adjust: 10px;
            position: sticky;
        }
        .success {
            text-align: center;
            background-color: #333;
            color: green;
            font-size: 15px;
            text-size-adjust: 10px;
            position: sticky;
        }
    }
}

#welcome {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 200%;
    background-image: url("../images/background/skiweltbahn.JPG");
    background-repeat: no-repeat;
    background-size: 100%, auto;
}

.seilbahn{
    main{
        display: flex;
        justify-content: space-between;
        .gondel{
            margin: 1%;
            table{
                margin: 1%;
                text-align: center;
                width: 90%;
                height: 50px;
                padding-right: 1%;
                border: 3px solid;
                border-collapse: collapse;
                td, th{
                    border-left: 3px solid;
                    border-top: 1.5px dashed;
                    border-collapse: collapse;
                    margin: 5px;
                }
            }
            .pic-db{
                img{
                    max-width: 50%;
                    max-height: 29%;
                    width: auto;
                    height: auto;
                }
            }
        }
        .auswahl{
            border: 2%;
            margin: 1%;
            text-align: center;
            h2{
                text-decoration: underline;
                font-size: 30px;
                font-weight: bold;
            }
            form[method="POST"]{
                padding-right: 90%;
                text-align: center;
                button{
                    background-color: white;
                    color: black;
                    padding: 15px 20px;
                    border: 3px solid rgb(42, 49, 183);
                    margin: 3px;
                    width: 200px;
                    height: 75px;
                    font-size: 16px;
                    text-align: center;
                    display: inline-block;
                }
                button:focus, button:hover{
                    border: 3px #3481b1 solid;
                }
            }
            
        }  
    }
    
}