body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

header {
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
    background-color: #333;
    color: white;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    position: sticky;
}

main{
    min-height: 100%;
    position: relative;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
}

#message {
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    background-color: red;
    color: black;
    position:fixed;
    width: 100%;
    top: 14%;
}

#login {
    text-align: center;
    background-color: #333;
    color: white;
    text-size-adjust: 10px;
    position: fixed;
}

#form-group {
    text-align: center;
    background-color: #333;
    color: white;
    text-size-adjust: 10px;
    size: 153px 20px;
    position: sticky;
}

#loginbody {
    margin: 0   ;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #333;
}

.error{
    text-align: center;
    background-color: #333;
    color: red;
    font-size: 15px;
    text-size-adjust: 10px;
    position: sticky;
}

#welcome {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    background-color: #333;
    text-align: center;
}